
.main-contanier-img img
{
    width: 402px;
    height: 286px;
    max-width: 400px;
}
.main-contanier-info-barra input
{
    width: 640px;
    height: 48px;
    max-width: 592px;
}
.main-contanier-info-textos h1
{
    max-width: 580px;
    margin: 24px auto; 
}
.main-contanier-info-textos p
 {
    max-width: 460px;
    margin: 0 auto 14px
}
.main-contanier-info-textos ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    padding: 5px;

}
footer
{
    position: fixed;
    margin: 40px auto;
}
